/* Appointment Section */
.appointment .my-btn{
  margin: 2rem 0;
  width: 30%;
}

/* Top Specialist Section */
.top-specialist {
  margin: 1.5rem 0;
}

.top-specialist .main-heading {
  font-weight: bold;
  font-size: 2rem;
  text-transform: capitalize;
  margin: 2rem 0;
  text-align: left;
  color: var(--skin-color);
}

.top-specialist .top-specialist-card {
  margin: 2rem auto;
}

.top-specialist img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 1rem;
  border: 1px solid var(--bg-black-50);
}

.top-specialist h2 {
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--text-black-900);
}

.top-specialist .top-specialist-card p {
  text-align: center;
  font-size: 1.25rem;
  color: var(--text-black-700);
}

.top-specialist .top-specialist-card .card-btn {
  width: 8.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: var(--skin-color);
  text-transform: capitalize;
  font-weight: normal;
  font-size: 1rem;
  border: none;
  margin-bottom: 1rem;
  transition: 0.25s linear;
}

.top-specialist .top-specialist-card .card-btn:hover {
  background-color: #bb2d3b;
}

/* Media Query */
@media (max-width: 992px) {
  .appointment .my-btn{
    width: 50%;
  }

  .top-specialist .main-heading{
    text-align: center;
  }
}

@media (max-width: 576px) {
  .appointment .my-btn{
    width: 80%;
  }

  .appointment .container{
    padding: 0 3rem;
  }
}